<div class='spacer'></div>
<div class="uk-container uk-container-center uk-margin-top">
	<% if notice %>
		<div class="uk-alert"><%= notice %></div>
	<% end %>
	<h1 class='uk-margin-top'><%= @user.name %></h1>
	<p><%= @user.card.card %></p>
	<p><%= @user.email %></p>
	<%= link_to edit_user_path(@user) do%> 
		<i class='uk-icon-edit'></i>&nbsp;EDITAR
	<% end %>
	<br/>

</div>