<div class="spacer"></div>
<div id="banner">
<ul class="uk-slideshow" data-uk-slideshow="{autoplay:true, autoplayInterval:5000}">
    <li>
    	<div class='banner1-lg'><%= image_tag('banners/banner1-1440x700.png')%></div>
    	<div class='banner1-md'><%= image_tag('banners/banner1-960x700.png')%></div>
    	<div class='banner1-sm'><%= image_tag('banners/banner1-768x700.png')%></div>
    	<div class='banner1-xs'><%= image_tag('banners/banner1-480x700.png')%></div>
    </li>
    <li>
    	<div class='banner2-lg'><%= image_tag('banners/banner2-1440x700.png')%></div>
    	<div class='banner2-md'><%= image_tag('banners/banner2-960x700.png')%></div>
    	<div class='banner2-sm'><%= image_tag('banners/banner2-768x700.png')%></div>
    	<div class='banner2-xs'><%= image_tag('banners/banner2-480x700.png')%></div>
    </li>
    <li>
    	<div class='banner3-lg'><%= image_tag('banners/banner3-1440x700.png')%></div>
    	<div class='banner3-md'><%= image_tag('banners/banner3-960x700.png')%></div>
    	<div class='banner3-sm'><%= image_tag('banners/banner3-768x700.png')%></div>
    	<div class='banner3-xs'><%= image_tag('banners/banner3-480x700.png')%></div>
    </li>
   
</ul>
</div>
