<div class="uk-container uk-container-center uk-margin-top">
	<h1 class='uk-margin-top'><%= @produto.categoria.categoria %> - <%=@produto.modelo.modelo %></h1>
	<div class='uk-grid'>
		<div class='uk-width-1-1'>
			<% if @fotos.count >= 1 %>
			<%= image_tag @fotos.first.avatar.url(:medium) %>
			<% end %>
		</div>
		<div class='uk-width-1-1'>
		
			<table class="uk-table uk-table-striped">
				<tr>
					<th>COD</th>
					<th>TENSÃO</th>
					<th>POTÊNCIA</th>
					<th>COR</th>
				</tr>
				<tr>
					<td><%= @produto.cod%></td>
					<td><%= @produto.tensao%></td>
					<td><%= @produto.potencia%></td>
					<td><%= @produto.cor%></td>
				</tr>
				

			</table>
		</div>
	</div>

	<h4>FOTOS</H4>

	<% if notice %>
		<div class="uk-alert"><%= notice %></div>
	<% end %>
	
	<% @fotos.each do |f| %>
		<%= image_tag f.avatar.url(:thumb) %>
	<% end %>

	<br/><br/>

	<%= form_for @foto, :url => fotos_path, :html => { :multipart => true } do |f| %>
	  <%= f.hidden_field :produto_id, {:value => @produto.id} %>
	  <%= f.file_field :avatar %>

	 <br/><br/>
	 <%= f.submit "Click",  :class => "uk-button uk-button-primary"%>
	<% end %>
</div>