<div class="spacer"></div>
<div class="uk-container uk-container-center uk-margin-top">
	<h1 class='uk-margin-top' style="color: <%= @produto.categoria.color %>"><%= @produto.categoria.categoria %> - <%=@produto.modelo.modelo %></h1>

	<% if notice %>
		<div class="uk-alert"><%= notice %></div>
	<% end %>
	
	<div class='uk-grid'>
		<div class='uk-width-1-1 '>
			<div class="" style="height: 256px; float: left;">
				<% if @fotos.count >= 1 %>
					<% @fotos.each do |f| %>
						<% if f.principal %>
							<%= image_tag f.avatar.url(:medium), :class => "produto-img-destaque" %>
						<% end %>
					<% end %>
				<% end %>
			</div>
			
		
			<div class='thumbs'>
				<% @fotos.each do |f| %>
					<%= image_tag f.avatar.url(:thumb) %>
				<% end %>
			</div>
			
		</div>
	</div>
	<div class='uk-grid'>
		<div class='uk-width-1-1'>
		
			<table class="uk-table uk-table-striped">
				<tr>
					<th>COD</th>
					<th>TENSÃO</th>
					<th>POTÊNCIA</th>
					<th>COR</th>
				</tr>
				<tr>
					<td><%= @produto.cod%></td>
					<td><%= @produto.tensao%></td>
					<td><%= @produto.potencia%></td>
					<td><%= @produto.cor%></td>
				</tr>

				<% @produto.filhos.each do |fi| %>
				<tr>
					<td><%= fi.cod %></td>
					<td><%= fi.tensao %></td>
					<td><%= fi.potencia %></td>
					<td><%= fi.cor %></td>
				</tr>
				<% end %>
				

			</table>
		</div>
	</div>

	<br/><br/>
	<% if current_user %>

		<h2>Administração</h2>
		<hr/>

		<h4>FOTOS</H4>
	
		<div class="uk-clearfix">
		<% @fotos.each do |f| %>
			<div style="width: 100px; float:left; margin: 0 20px;" class="uk-text-center">
				<%= image_tag f.avatar.url(:thumb) %>
				<% if f.principal %>
				principal
				<% else %>
				<%= link_to "tornar principal", :action => "foto_principal", :id => f.id %>

				<% end %>
				<br/>
				<%= link_to "deletar", :action => "confirmar_deletar_foto", :id => f.id %>
			</div>
		<% end %>
		</div>
		<br/><br/><br/>


		<%= form_for @foto, :url => fotos_path, :html => { :multipart => true } do |f| %>
		  <%= f.hidden_field :produto_id, {:value => @produto.id} %>
		  <%= f.file_field :avatar %>

		 <br/><br/>
		 <%= f.submit "Click",  :class => "uk-button uk-button-primary"%>
		<% end %>


		<!-- produto pai -->

		<br/><br/>
		
		<% if @produto.filhos.count == 0 %>
			<h2>Produto Pai</h2>
			<% if @produto.pai == nil %>
				<!-- form para pai -->
				<%= form_for @produto, html: {class: "uk-form uk-form-stacked"} do |f| %>
					<%= collection_select(:produto, :parent_id, Produto.where("categoria_id = ?", @produto.categoria.id).where("modelo_id = ?", @produto.modelo.id).where("id != ?", @produto.id), :id, :cod)%>
					<button class='uk-button uk-button-primary'><i class='uk-icon-check'></i>&nbsp;ASSOCIAR</button>
				<% end %>

			<% else %>
				<!-- exibe o pai e link para desfazer -->
				<%= link_to @produto.pai.cod, produto_path(@produto.pai) %>
				<%= form_for @produto, html: {class: "uk-form uk-form-stacked"} do |f| %>
					<%= f.hidden_field :parent_id, {:value => nil} %>
					<button class='uk-button uk-button-primary'><i class='uk-icon-check'></i>&nbsp;DESFAZER</button>
				<% end %>

			<% end %>

		<% end %>
		<br/>
		<br/>

	<% end %>

</div>